<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scape=1.0" />
    <title>❤️Craig's Cupids❤️</title>
  </head>
  <body>
    <div>
      <form method="get">
        - Craig's Cupids -
        <button  type="submit"id="signInButton" formaction="/signIn">❤️Sign In❤️</button>
        <button type="submit"id="signUpButton" formaction="/signUp">❤️Sign Up❤️</button>
      </form>
    </div>
    Let us find your perfect thing, at the perfect cost :)
  </body>
</html>